body{
    font-family: sans-serif;
    font-weight: bolder;
    background-color: gray;
}

h1{
    padding-top: 25px;
    text-align: center;
    padding-bottom: 25px;
}

li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #ddd;
}

li a.active {
  color: white;
  background-color: #04AA6D;
}

.nav-item{
   float: left;
}

.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

main{
    position: relative;
/*    float: left;*/
}

.pad{
    padding-top: 550px;
    text-align: center;
    padding-bottom: 50px;
}
.tableau-1{
    width: 50%;
    top: 
    left: 0px;
}

.t1{
    width: 80%;
    margin: auto;
}

.tableau-2{
    width: 50%;
    position: absolute;
    top: 0px;
    right: 0px;
}

.tableau-3{
    width: 50%;
    position: absolute;
    left: 0px;
}

.tableau-4{
    width: 50%;
    position: absolute;
    right: 0px;
}

footer{
    position: fixed;
    width: 100%;  
    bottom: 0px;
    background-color: aliceblue;
}