.col-md-10 {
    font-family: sans-serif;
    font-weight: bolder;
  }
.col-md-10 a{
    text-decoration: underline;
}
.leftmenu{
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
}

p{
    color: gray;
}

.ytube{
    width:0%;
    margin: auto;
}
.video{
    transform: translate(-441px,0);
}

